<h2>Welcome, <%= @user.username.capitalize %>!</h2>
<% if flash.has?(:message) %>
	<%= flash[:message] %>
<% end %>
<p>Here are the list of your workouts.</p>
<% @user.workouts.each do |workout| %>
<table>
	<tr>
		<td span class="left-column">Id</td>
		<td>Exercise</td>
		<td>Pounds</td>
		<td>Repetitions</td>
		<td>Sets</td>
		<td>Muscle Group</td>
		<td>Date</td>
	</tr>
	<br>
	<tr>
		<td span class="left-column"><%= workout.id %></td>
		<td><%= workout.name %></td>
		<td><%= workout.pounds %></td>
		<td><%= workout.repetitions %></td>
		<td><%= workout.sets %></td>
		<td><%= workout.muscle_group %></td>
		<td><%= workout.date %></td>
	</tr>
</table>
<% end %>